#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App Button {
  margin: 5px;
}

.App {
  width: 60%;
  margin: auto;
  padding: 10px;

  background: rgba(190, 189, 189, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.App input {
  height: 5vh;
  width: 60%;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.App div {
  width: 95%;
  margin: 7px auto;
  padding: 10px;
}

.box_task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background: rgba(22, 22, 22, 0.562);
  box-shadow: 0 8px 32px 0 rgba(43, 42, 42, 0.562);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.box_txttask {
  overflow: auto;
  white-space: nowrap;
  width: 70%;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}
